:root {
    --font-thin:300;
    --font-norm:400;
    --font-bold:900;

    --grey:#58585a;
    --red:#ef615c;
}

* {
    font-family: 'Roboto', sans-serif;
}

a, a:hover, a:visited, a:active{
    color:#ef615c!important;
}
nav a, nav a:hover, nav a:visited, nav a:active{
    color:#fff!important;
}
main {
    height:100%;
    width:100%;
}

strong {
    font-weight: 900;
}

/*nav*/
#navlogo{
    width: 200;
    margin: 0 auto;
    margin-top: 30px;
}


.mdl-layout__drawer {
    position:fixed;
    background-color:#58585a;
    border-right: 1px solid transparent;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
    color:#fff;
    font-weight: 900;
}
.mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover, .mdl-navigation__link.active {
    background-color:#ef615c;
}
/*nav*/

/*section*/
#submitpage{
    margin: 40px 40px 40px 280px;
    border: 20px solid #ef615c;
    -moz-box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
}
section {
    margin-left: 240px;
    padding: 0 40px;
    font-size: 24px;
    line-height: 40px;
}
#idea-wall{
    font-size: 18px;
    line-height: 20px;
    height: calc(100% - 160px);
}
.header, .header2 {
    position:relative;
}
.header:after {
    min-width:300px;
    content:"";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0;
    border-top:3px solid #ef615c;
    z-index: -1;
}
.header2:after {
    min-width:300px;
    content:"";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0;
    border-top:3px solid #000;
    z-index: -1;
}

#project-switch { 
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-top: 1px dashed #3c3c3c;
    border-bottom: 1px dashed #3c3c3c;
    margin: 40px 0 20px 0;
    padding: 20px 0 40px 0;
}

.flex-splitter {
    display:flex;
    flex-direction: row;
    justify-content: start;
    margin:20px;
}
.flex-splitter img {
    margin-right:20px;
}


#new {
    display: none;
}

.mdl-textfield {
    width:500px;
    font-size: 24px;
}

.mdl-textfield-textarea {
    width:100%;
}


/*swiper*/
.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    filter: grayscale(100%);
}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
    filter: grayscale(100%);
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    background-size: cover;
}
.swiper-slide table{
    width:90%;
}
.slide {
    width:80%;
}
.slide img {
    width: 100%;
}


.mdl-textfield__input {
    font-weight:300;
    padding: 20px 0;
}

#wall-entries{
    display:flex;
    flex-direction: row;
    justify-content: left;
}
.wall-entry{
    margin:40px;
    padding:20px;
    color:#fff;
    background-color: #ef615c;
    -moz-box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
}

.entry-slide{
    display: -webkit-box;
    line-height: 33px;
    vertical-align: middle;
    color: #fff;
    background-color: #bf6865;
    -moz-box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
}



table {
    color:#fff;
}
table td {
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    width: 350px;
}
.table-param {
    text-align:right;
    width: 50px!important;
    max-width: 50px;
}
.table-val {
    text-align:left;
    font-weight: 300;
}

.slideNumber{
    position: absolute;
    top:40px;
    left:20px;
    opacity:0.3;
    font-weight:900;
    font-size:5em;
}
.editIdea {
    position: absolute;
    top: 20px;
    right: 20px;
    opacity: 1;
    font-weight: 900;
    font-size: 1em;
}

#editForm {
    padding:40px;
}
.row {
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
}

#list table {
    text-align: left;
    position: relative;
    border-collapse: collapse; 
  }
  #list th, #list  td {
    padding: 0.25rem;
  }
  #list th {
    background: #ef615c;
    position: sticky;
    top: 0;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
    z-index: 99;
    text-align: center;
    vertical-align: middle;
    font-size:12px;
    letter-spacing:1px;
    padding: 0 13px 0 14px;
    line-height: 80px;
  }

#list{
    display:none;
    max-height: calc(100vh - 200px);
    overflow: scroll;
}
#list tr {
    min-height:80px;
}
#list tr:nth-child(1) {
    height:40px;
}

#list tr td {
    vertical-align: middle;
    text-align: center;
}

#list tr:nth-child(odd){
    background-color: #575757;
}
#list tr:nth-child(even){
    background-color: #272727;
}

#list th, #list-td{
    display:block;
}

#list tr{
    display:flex;
    flex-direction:row;
}

.list- {
    max-width:120px;
    width: 120px;
}
.list-description, .list-market-potential, .list-un-sdgs{
    width: 500px;
    max-width: 500px;
}
